.footer-bg {
  background-color: var(--lds-color-neutral-090);
}
.footer-text {
  color: var(--lds-color-neutral-030) !important;
}
.footer-social-media-icon-css {
  width: 22px;
  height: 22px;
  background-color: var(--lds-color-neutral-000);
}
