.home-heading {
  color: var(--lds-color-primary);
  font-size: var(--lds-typography-display-font-size);
  font-weight: var(--lds-typography-display-font-weight);
  line-height: var(--lds-typography-display-line-height);
}
